@import './var.scss';

.app {
    min-height: 100%;
}

.layout {
    min-height: 100%;
}

.header {
    background-color: $color-background-main;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
}

.header h1 {
    color: $color-primary;
}

.content {
    @media screen and (min-width: $break-lg) {
        padding: 0 50px;
    }
}

.content-main {
    background: #fff;
    padding: 24px;
}

.side-nav {
    background: $color-background-main;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;

    .logo {
        height: 130px;
        padding: 14px 10px;
        overflow: hidden;
        

        .shadow {
            border: 1px solid $color-background-dark;
        }

        img {
            z-index: -2;
            width: 100%;
        }
    }

    .ant-menu, {
        background-color: $color-background-main;
        color: $color-primary;
        font-size: 16px;

        .ant-menu-item::after,  {
            border-color: $color-secondary;
        }

        .ant-menu-item:hover, .ant-menu-submenu:hover {
            background-color: $color-background-highlight;
        
            a, div {
                color: $color-highlight;
            }
        }
    }

    .ant-menu-submenu-selected {
        color: rgba(0, 0, 0, 0.65);
    }

    .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
        .anticon, span {
            font-size: 18px;
        }
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: $color-background-active;
        a {
            color: $color-active;
        }
    }
}

.ant-layout-sider-trigger {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-background-main;
    color: $color-primary-dark;
}

.ant-pagination-prev, .ant-pagination-next, .ant-pagination-item {
    a.ant-pagination-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ant-pagination-item:not(.ant-pagination-disabled) {
    a.ant-pagination-item-link {
        background: $color-background-main;
        color: $color-primary-dark;
        border-color: $color-primary-dark;
    }
}

.ant-avatar.ant-avatar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-table-thead tr.ant-table-row-hover td, .ant-table-tbody tr.ant-table-row-hover td,
.ant-table-thead tr:hover td, .ant-table-tbody tr:hover td {
    background-color: $color-background-highlight !important;
}

.ant-table-thead tr th {
    background-color: $color-background-dark !important;
    color: #fff !important;
    font-weight: 500;
}

.ant-avatar.ant-avatar-icon.avatar-default {
    background-color: $color-background-dark;
}

.ant-table-column-sorter-up.on .anticon-caret-up, .ant-table-column-sorter-down.on .anticon-caret-up,
.ant-table-column-sorter-up.on .anticon-caret-down, .ant-table-column-sorter-down.on .anticon-caret-down {
    color: $color-secondary !important;
}

.ant-table-column-sorter-up:hover .anticon, .ant-table-column-sorter-down:hover .anticon {
    color: $color-secondary !important;
}

.title {
    color: $color-primary-dark;
}

.ant-input-affix-wrapper .ant-input {
    min-height: auto !important;
}

.table-controls {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-flow: nowrap;

    .results-count {
        color: $color-text-secondary;
        margin-bottom: 0;
        flex: 1 1 auto;
        align-self: flex-end;
    }
}

.ant-collapse {
    background-color: $color-background-dark !important;

    .ant-collapse-item .ant-collapse-header {
        color: #fff !important;
    }
    
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: $color-primary-dark !important;
}

.ant-tabs-ink-bar {
    background-color: $color-secondary !important;
}

.ant-btn-primary {
    background-color: $color-primary !important;
}

a {
    color: $color-primary;
}