$color-background-main: #FFF;
$color-primary: #009BBF;
$color-primary-dark: #006c85;
$color-background-active: #87c7d7;
$color-active: #FFF;
$color-highlight: #006c85;
$color-background-highlight: #edf9f3;
$color-background-dark: #657E87;
$color-secondary: #8DB200;
$color-text-secondary: rgba(0, 0, 0, 0.65);

$break-xl: 1600px;
$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;